{% extends 'dashboard.html.twig' %}

{% block title %}Мониторинг звонков{% endblock %}

{% block body %}
    <div class="panel-search">
        <div class="container">
            <form id="searchForm">
                <div class="row">
                    <div class="two columns">
                        <label>Период:</label>
                    </div>
                    <div class="ten columns">
                        <div class="row">
                            <div class="four columns">
                                <input id="startDate" name="start_date" type="text" class="u-full-width text-center" placeholder=От>
                            </div>
                            <div class="four columns">
                                <input id="endDate" name="end_date" type="text" class="u-full-width text-center" placeholder="До">
                            </div>
                            <div class="four columns">
                                <button class="button" id="getReport">Получить отчет</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="container" id="resultData"></div>
{% endblock %}
{% block javascripts %}
    <script src="/js/Chart.bundle.min.js"></script>
    <script>
        (function (d,w) {
            var formTag = d.getElementById('searchForm');
            var btnGetReport = d.getElementById('getReport');
            var resultData = d.getElementById('resultData');

            var startDate = d.getElementById('startDate');
            var endDate = d.getElementById('endDate');

            var strDate = moment().format('DD.MM.YYYY');
            initDatePicker(startDate);
            startDate.value = strDate;
            initDatePicker(endDate);
            endDate.value = strDate;



            function onKeydownDigit(e) {

                if ([46, 8, 9, 27, 13].indexOf(e.keyCode) !== -1 ||
                    (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                    (e.keyCode === 67 && (e.ctrlKey === true || e.metaKey === true)) ||
                    (e.keyCode === 88 && (e.ctrlKey === true || e.metaKey === true)) ||
                    (e.keyCode >= 35 && e.keyCode <= 39)) {
                    return;
                }
                if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                    e.preventDefault();
                }
            }

            btnGetReport.addEventListener('click', function (e) {
                e.preventDefault();
                var form = new FormData(formTag);

                sendData(formTag.action, form, function (data) {
                    var object = JSON.parse(data);

                    clearNode(resultData);

                    drawReportTable(object.stat);

                    resultData.appendChild(el('canvas', { id: 'graphicCanvas'}));

                    var ctx = document.getElementById("graphicCanvas").getContext('2d');

                    var dataForGraphics = {
                        labels: object.graphic.dates,
                        type: object.graphic.type,
                        lines: [
                            {label: 'Потерянные', data: object.graphic.data.not_answered, color: 'rgb(252, 40, 71)', backColor: 'rgba(252, 40, 71, 1)'},
                            {label: 'Отвеченные', data: object.graphic.data.answered, color: 'rgb(100, 255, 153)', backColor: 'rgba(100, 255, 153, 0.5)'},
                            {label: 'Всего', data: object.graphic.data.summ, color: 'rgb(255, 255, 153)', backColor: 'rgba(255, 255, 153, 0.5)'},
                        ]
                    };

                    drawGraphic(ctx, dataForGraphics);

                });
            });

            function initDatePicker(inputNode) {
                picker = new Pikaday({
                    field: inputNode,
                    firstDay: 1,
                    format: 'DD.MM.YYYY',
                    defaultDate: strDate,
                    i18n: {
                        previousMonth : 'Назад',
                        nextMonth     : 'Вперед',
                        months        : ['Январь','Февраль','Март','Апрель','Май','Июнь','Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь'],
                        weekdays      : ['Воскресенье','Понедельник','Вторник','Среда','Четверг','Пятница','Суббота'],
                        weekdaysShort : ['Вс','Пн','Вт','Ср','Чт','Пт','Сб']
                    }
                });
            }

            function drawReportTable(data) {

                console.log(data);

                var fragment = d.createDocumentFragment();

                if (data) {
                    fragment.appendChild(el ('td'));
                }

                var table =  el ('table', {}, [
                    el ('thead', {}, [
                        el('th', {},  'Количество звонков, шт.'),
                        //el('th', {},  'В рабочее время, шт.'),
                        el('th', {},  'Отработанные, шт.'),
                        el('th', {},  'Потерянные, шт.'),
                        el('th', {},  'Время поднятия трубки, сек.'),
                        el('th', {},  'Макс. время поднятия трубки, сек.'),
                        el('th', {},  'Средняя продолжительность разговора, сек.'),
                        el('th', {},  'Макс. продолжительность разговора, сек.'),
                        el('th', {},  'Общая продолжительность, мин.')
                    ]),
                    //el ('tbody', {}, [ fragment ])
                    el ('tbody', {}, [
                        el ('tr', {}, [
                            el('td', {}, data[0]['number_of_records'].toString()),
                            //el('td', {}, data[0]['work_time'].toString()),
                            el('td', {}, data[0]['answered'].toString()),
                            el('td', {}, data[0]['not_answered'].toString()),
                            el('td', {}, data[0]['time_take_phone']),
                            el('td', {}, data[0]['max_time_take_phone']),
                            el('td', {}, data[0]['average_time']),
                            el('td', {}, data[0]['max_time']),
                            el('td', {}, data[0]['summ_duration'].toString()),
                        ])
                    ])
                ]);
                //clearNode(resultData);
                resultData.appendChild(table);
            }

            function drawGraphic(ctx, data) {
                var lines = [];
                type = data.type;
                Array.from(data.lines).forEach(function (value) {
                    var line = {
                        label: value.label,
                        borderWidth: 1,
                        data: value.data,
                        borderColor: value.color,
                        backgroundColor: value.backColor
                    };
                    lines.push(line);
                });
                console.log(lines);
                var optionsGraphic = {
                    tooltips: {
                        mode: 'index',
                            intersect: false
                    },
                    responsive: true,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
                };

                if (type === 'bar') {
                    optionsGraphic = {
                        tooltips: {
                            mode: 'index',
                            intersect: false
                        },
                        responsive: true,
                        scales: {
                            xAxes: [{
                                stacked: true
                            }],
                            yAxes: [{
                                stacked: true,
                                ticks: {
                                    beginAtZero:true
                                }
                            }]
                        }
                    };
                }

                var myChart = new Chart(ctx, {
                    type: type,
                    data: {
                        labels: data.labels,
                        datasets: lines
                    },
                    options: optionsGraphic
                });
                return myChart;
            }
        })(document, window);

    </script>
{% endblock %}
